<div class="container mt-4">
  <div class ="row">
    <div class="col-lg-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>日付</th>
            <th></th>
            <th>タイトル</th>
            <th>投稿者</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <% if post.status=="公開" %>
              <tr>
                <td><%= post.updated_at.to_s(:day_jp) %></td>
                <% if contributor_signed_in? && post.contributor_id == current_contributor.id %>
                    <td><%= link_to contributor_post_path(post) do %><%= attachment_image_tag post, :post_image, :fill ,100 ,100 ,format: 'jpeg',fallback: "noImage.png", size:'100x100' %><% end %></td>
                    <td><%= link_to contributor_post_path(post) do %><%= post.title %><% end %></td>
                    <td><%= link_to contributor_contributors_path do %><%= post.contributor.nickname %><% end %></td>
                <% else %>
                    <td><%= link_to post_path(post) do %><%= attachment_image_tag post, :post_image, :fill ,100 ,100 ,format: 'jpeg',fallback: "noImage.png", size:'100x100' %><% end %></td>
                    <td><%= link_to post_path(post) do %><%= post.title %><% end %></td>
                    <td><%= link_to contributor_path(post.contributor) do %><%= post.contributor.nickname %><% end %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>