<div>
  <%= @post.updated_at.to_s(:datetime_jp) %>
</div>
<div>
  <%= link_to @contributor.nickname, contributor_path(@contributor) %>
</div>
<div>
  <%= attachment_image_tag @post, :post_image, :fill, 100, 100, format: 'jpg' %>
</div>
<div>
  <%= @post.title %>
</div>
<div>
  <%= @post.content %>
</div>
<div>
  <%= @post.prefecture %>
</div>
<div>
  <p>リクエスト中のユーザー数</p>
  <p>リクエスト</p>
</div>
