<div><%= attachment_image_tag @contributor, :profile_image, :fill, 100, 100, format: 'jpg' %></div>
<div><%= @contributor.name %></div>
<div><%= @contributor.nickname %></div>
<% if @contributor.organization_url %>
  <div><%= link_to @contributor.organization_name, @contributor.organization_url %></div>
<% else %>
  <div><%= @contributor.organization_name %></div>
<% end %>
<div><%= @contributor.introduction %></div>

<p>フォロワー数:<%= @contributor.relationships.count %>人</p>

<div>
  <% if @recipient.following?(@contributor) %>
    <%= link_to contributor_relationships_path(@contributor), method: :delete do %>
      <p>フォローを外す</p>
    <% end %>
  <% else %>
    <%= link_to contributor_relationships_path(@contributor), method: :post do %>
      <p>フォローする</p>
    <% end %>
  <% end %>
</div>

<div>
<% @posts.each do |post| %>
<div>
  <%= post.updated_at.to_s(:day_jp) %>
</div>
<div>
<%= link_to post_path(post) do %>
<%= attachment_image_tag post, :post_image, :fill, 100, 100, format: 'jpg' %>
<%= post.title %>
<% end %>
</div>
<% end %>
</div>