<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>地域</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>

      <% posts.each do |post| %>
          <tr>
            <td><%= post.updated_at.to_s(:day_jp) %></td>
            <td><%= link_to contributor_post_path(post) do %><%= post.title %><% end %></td>
            <td><%= post.prefecture %></td>
            <td><%= post.genre %></td>
            <td><%= post.status %></td>
          </tr>
      <% end %>
  </tbody>
</table>