<div class="overflow">
  <h4>お問い合わせフォーム</h4>
  <% unless recipient_signed_in? || contributor_signed_in? %>
    <p>寄付が必要な方はこのフォームからお問い合わせお願いします。</p>
  <% end %>
  <% if contributor_signed_in? %>
    <span>寄付をする方の退会は</span><%= link_to 'こちら', quit_contributor_contributors_path %>
  <% end %>
<%= form_with model: @contact do |f| %>
  <div class="row mt-3">
    <%= f.label :name, class:"offset-1 col-2" %>
    <%= f.text_field :name, autofocus: true, class:"col-3" %>
  </div>

  <div class="row mt-3">
    <%= f.label :organization_name, class:"offset-1 col-2" %>
    <%= f.text_field :organization_name, class:"col-3" %>
  </div>

  <div class="row mt-3">
    <%= f.label :email, class:"offset-1 col-2" %>
    <%= f.text_field :email, class:"col-3" %>
  </div>

  <div class="row mt-3">
    <%= f.label :phone_number, class:"offset-1 col-2" %>
    <%= f.text_field :name, class:"col-3" %>
  </div>

  <div class="row mt-3">
    <%= f.label :subject, class:"offset-1 col-2" %>
    <%= f.select :subject, Contact.subjects.keys, class:"col-3" %>
  </div>


  <div class="row mt-3">
    <%= f.label :content, class:"offset-1 col-2" %>
    <%= f.text_area :content, size: "1x15", class:"col-3" %>
  </div>

  <div class="actions offset-3 mt-3 mb-4">
    <td></td><td></td><%= f.submit '送信', class:"btn btn-success btn-lg" %>
  </div>
<% end %>
</div>