<div><%= attachment_image_tag @contributor, :profile_image, :fill, 100, 100, format: 'jpg' %></div>
<div><%= @contributor.name %></div>
<div><%= @contributor.nickname %></div>
<% if @contributor.organization_url %>
  <div><%= link_to @contributor.organization_name, @contributor.organization_url %></div>
<% else %>
  <div><%= @contributor.organization_name %></div>
<% end %>
<div><%= @contributor.introduction %></div>

<%= link_to '編集', edit_contributor_contributors_path %>

<%= link_to 'My投稿一覧', contributor_posts_path %>

<%= link_to contributor_followers_path(@contributor) do %>
<p>フォロワー数:<%= @contributor.relationships.count %>人</p>
<% end %>
<div>
  <p>やり取り中のチャット一覧</p>
  <% n = 0 %>
  <% @posts.each do |post| %>
    <% @rooms = post.rooms %>
    <% if @rooms %>
      <% @rooms.each do |room| %>
        <% n = 1 %>
        <%= link_to room_path(room) do %>
          <%= post.title %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% unless n == 1 %>
    <p>現在、やり取り中のチャットはございません。</p>
  <% end %>

</div>

